{% extends "base.html" %}
{% block title %}关于微克{% endblock %}
{% block content %}
<div class="main">
<p class="text-center"><span class="lead">微克</span>，微克是一个非常普通的CMS博客平台。除了必须有的评论系统之外，微克还支持站内私信。</p><br/>
<p class="text-center"><strong>我的文章</strong></span>
<img src="/static/images/articles.png" alt="我的文章" class="img-thumbnail">
</p>
<p class="text-center"><strong>资料管理</strong>
<img src="/static/images/info.png" alt="我的资料" class="img-thumbnail">
</p>
<p class="text-center"><strong>消息模块</strong>
<img src="/static/images/message.png" alt="我的消息" class="img-thumbnail">
</p>
<p class="text-center"><strong>分类、标签管理</strong>
<img src="/static/images/category.png" alt="分类管理" class="img-thumbnail">
</p>
</div>
{% endblock %}

