<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="微克"/>
<meta name="author" content="wongxinjie">

<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/base.css">
<link rel="sytlesheet" href="/static/css/prettify.css">
<link rel="shortcut icon" href="http://miscrocell-miscrocell.stor.sinaapp.com/miscrocell.ico">
<style>
body{background-image: url(/static/images/background-1.jpg);}
</style>
<title> {% block title %}{{ login_author.user_name }} {% endblock %}</title>
</head>

<body>
<div id="wrap">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="nav collapse navbar-collapse navbar-responsive-collapse" id="easyreading_bar">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="/">微克</a></li>
      {% if categories %}
      <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">分类<b class="caret"></b></a>
        <ul class="dropdown-menu">
	  {% for c in categories %}
          <li><a href="{% url category c.id%}">{{ c.category_name }}</a></li>
	  {% endfor %}
        </ul>
      </li>
      {% endif %}
      <li><a href="{% url archive %}">归档</a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search" action="{% url search %}" method="GET">
      <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="搜索文章或用户">
      </div>
      <button type="submit" class="btn btn-default">搜索</button>
    </form>
    {%  if login_author %}
    <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url blog_author login_author.id %}">我的微克</a></li>
    <li><a href="{% url logout %}">退出</a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url login %}">登录</a></li>
    <li><a href="{% url register %}">注册</a></li>	 
    </ul>
    {% endif %}
   </div>
  </div><!-- /.navbar-collapse -->
</nav>

{% block body %}
<div class="container">
	<div id="content" class="row row-offcanvas row-offcancas-right ">
		<div class="admin">
		<div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas sidebar ">
		{% block aside %}
		{% endblock %}
		</div>
		
		<div id="main" class="col-xs-12 col-sm-9 ">
		{% block content %}
		{% endblock %}
		</div>
		</div>
		
	</div>
</div>
</div>

{% endblock %}
<div id="footer">
	<div class="container">
		<p class="text-muted credit"><a href="{% url about %}">关于微克</a>&nbsp;&nbsp;&nbsp;<a href="{% url contact %}">联系我们</a></p>
	</div>
</div>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
/*
$(function(){
	var sidebarTop = $('#sidebar').offset().top;
	var sidebarLeft = $('#sidebar').offset().left;
	var mainLeft = $('#sidebar').width()+20;
	$(window).scroll(function(){
		var windowTop = $(window).scrollTop();
		if(sidebarTop < windowTop){
			$('#sidebar').css({position: 'fixed', top: sidebarTop});
			$('#main').css({ left: mainLeft });
		}
	});
});
*/
</script>
{% block scripts %}
{% endblock %}
</html>




